<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="shortcut icon" href="./../assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./../styles/registro_estudiante.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>AprenDX | Registro como estudiante</title>
</head>
<body>
    <nav class="navbar navbar-light ">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./../assets/logo.png" alt="AprenDX" width="250" height="50" class="d-inline-block align-text-top imgLogo">
            </a>
        </div>

    </nav>
    <div class="d-flex p-2 bd-highlight justify-content-center barra-navegacion">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item"> <a href="#">Inicio</a> </li>
            <div class="d-flex container_linea">
                <div class="d-flex lineaxd"></div>
            </div>
            <li class="list-group-item"><a href="#que-ofrecemos">¿Qué ofrecemos?</a></li>
            <div class="d-flex container_linea">
                <div class="d-flex lineaxd"></div>
            </div>
            <li class="list-group-item"><a href="#quienes-somos">¿Quiénes somos?</a></li>
            <div class="d-flex container_linea">
                <div class="d-flex lineaxd"></div>
            </div>
            <li class="list-group-item"><a href="#">Asociación</a></li>
            <div class="d-flex container_linea">
                <div class="d-flex lineaxd"></div>
            </div>
            <li class="list-group-item"><a href="#">Descárgalo</a></li>
        </ul>
    </div>


    <!--Registro como estudiante-->
    <div class="d-flex flex-column cuerpo-registro">
        <div class="d-flex titulo-registro">
            <i class="fas fa-arrow-left fa-2x"></i><a href="www.google.com"></a> </i>
            <h3>REGISTRO COMO ESTUDIANTE</h3>
        </div>
        <div class="formulario">
            <div class="item-formulario nombre">
                <p>Nombre/s:<b class="ast">*</b></p>
                <input type="text">
            </div>
            <div class="item-formulario apellido">
                <p>Apellidos:<b class="ast">*</b></p>
                <input type="text">
            </div>
            <div class="item-formulario correo">
                <p>Correo electrónico:<b class="ast">*</b></p>
                <input type="email" name="#" id="#">
            </div>
            <div class="item-formulario telefono">
                <p>Número telefónico/celular:</p>
                <input type="nimber" name="#" id="#">
            </div>
            <div class="item-formulario pass">
                <p>Contraseña:<b class="ast">*</b></p>
                <input type="password" name="#" id="#">
            </div>
            <div class="item-formulario c-pass">
                <p>Confirmar contraseña:<b class="ast">*</b></p>
                <input type="password" name="#" id="#">
            </div>
            <button type="submit">Registrarse</button>
        </div>
    </div>



    <!--Footer-->
    <footer class="footer d-flex flex-column">
        <div class="footer-info d-flex">
            <div class="footer-item contactenos">
                <h5>Contáctanos</h5>
                <div class="linea-footer"></div>
                <p>(+51)999888777</p>
                <p>(+51)987654321</p>
                <p>(+51)981234567</p>
            </div>
            <div class="footer-item siguenos">
                <h5>Síguenos</h5>
                <div class="linea-footer"></div>
                <div class="d-flex contenedor-iconos">
                    <i class="fab fa-linkedin fa-3x"></i>
                    <i class="fab fa-facebook-square fa-3x"></i>
                    <i class="fab fa-twitter-square fa-3x"></i>

                </div>
            </div>
            <div class="footer-item descargalo">
                <h5>Descarga AprenDX</h5>
                <div class="linea-footer"></div>
                <div class="apps d-flex">
                    <div class="d-flex avalible-1">
                        <img src="./../assets/AppStore-1.png" alt="Disponible en playstore">
                        <img src="./../assets/GooglePlay-1.png" alt="Disponible en google play">
                    </div>
                    <div class="d-flex avalible-2">
                        <img src="./../assets/desktop.png" alt="Disponible en dsktop">
                    </div>
                </div>
                
            </div>
        </div>
        <p>© Copyright 2021 AprenDX. Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>