*{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: 'Be Vietnam', sans-serif;
}
a{
    background-color:transparent;
    color:white;
}

a:link{
    text-decoration:none !important;
}

a:visited{
    text-decoration:none !important;
}

a:active{
    text-decoration: none !important;
}

img{
    background-color:transparent;    
}

.barra-navegacion{
    background-color: #E42322;
    padding: 0 !important;
    margin: 0; 
    color: white;
}

.barra-navegacion li{
    border: none;
    font-size: 150%;
    background-color: #E42322;
    color: white;
}

.barra-navegacion li a{
    text-decoration: none;
    color: white;
    font-weight: 580;
}

.container_linea{
    background-color: #E42322;
}

.lineaxd{
    background-color:white;
    height: 60%;
    width: 2px;
    margin-top: 12px;
    
}

.recuadro-celeste{
    background-color:#C0ECF5;
    width: 100%;
    height: 495px;
}

.info-app{
    position:relative;
    width:100%;
    height: 100%;
    background-color:transparent;
}
.info-app img{
    position: absolute;
    width:450px;
    height: 474px;
    left: 46%;
    top: 5%;
    z-index: 1;
}

.texto-inicio{
    background-color:transparent;
    height:51%;
    width:52%;
    position:absolute;
    z-index: 2;
    top: 21%;
    left: 2%;
}

.texto-inicio h2{
    font-size:200%;
    padding: -5%;
    text-align:center;
    background-color:transparent;
    font-weight: bold;

}

.texto-inicio p {
    background-color:transparent;
    text-align: center;
    margin-top: 50px;
    font-size: 116%;
}

.botones-registro {
    position:absolute;
    align-items: center;
    background-color:transparent;
    left: 73%;
    top: 20%;
    z-index: 2;
    
}
.botones-registro button{
    margin-top:20px;
    border-radius:20px;
    height: 100px;
    width: 85%;
    background-color:#34C900;
    color:white;
    border: none;
    font-size: 20px;
}
.botones-registro h4{
    background-color:transparent;
    font-size:30px;
}
.boton-registro button a{
    font-size:40px;
}

.imgLogo{
    margin-left: 60px;
}

.que-ofrecemos{
    background-color:white;
    width: 100%;
    height: 600px;
}
.titulo-que-ofrecemos{
    background-color:transparent;
    background-color:white;
    width:100%;
    justify-content: center;
    margin-top:60px;
}
.titulo-que-ofrecemos h3{
    background-color:transparent;
    font-weight: bold;
    font-size: 55px;
}

.caracteristicas{
    background-color:white;
    width: 100%;
    height: 100%;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:4%;
    padding-right:4%;
}
.caracteristicas-items{
    width:25%;
    height: 100%;
    background-color:transparent;
    align-items: center;
}
.caracteristicas-items img{
    width: 90px;
    height:90px;
    margin-top:22px;
}
.caracteristicas-items h3{
    font-size: 28px;
    margin-top:20px;
}

.caracteristicas-items p{
    font-size:18px;
    margin-top:34px;
    padding: 0px 20px 0px 20px;
    text-align:justify;
}

.linea-caracteristica{
    width:4px;
    height: 100%;
    background-color:#E5E5E5;
}

.quienes-somos{
    background-color:#E42322;
    height:379px;
    width:100%;
    align-items: center;
    justify-content:center;
}

.quienes-somos-item{
    width: 32%;
    height: 65%;
    justify-content: center;
    text-align:center;
    background-color:transparent;
    color:white;
}
.quienes-somos h3{
    font-size: 55px;
    margin-bottom: 5%;
    background-color:transparent;
    font-weight: 100;
    font-family: 'Bebas Neue';
}
.quienes-somos-item ul{
    margin-top:3%;
    text-align: left;
    font-size: 22px;
    background-color:transparent;
}
.quienes-somos-item ul li{
    background-color:transparent;
}
.quienes-somos-item p{
    font-size: 22px;
    background-color:transparent;
    
}
.linea-quienes{
    height:65%;
    width:4px;
    background-color:white;
    margin-right: 3%;
    margin-left: 3%;
}

.institucion-asociada{
    width:100%;
    height: 450px;
    background-image: url("./../assets/fondo-upc.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.fondo-institucion{
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.719);
}

.contenido-institucion{
    width:100%;
    height:100%;
    background-color:transparent;
    justify-content:space-evenly;
    align-items: center;

}

.contenido-institucion img{
    width: 330px;
    height: 330px;
    margin-right: -5%;
}
.info-institucion{
    background-color:transparent;
    width:40%;
    color:white;
}
.info-institucion h3{
    background-color:transparent;
    font-weight:bold;
    font-size: 55px;
}
.info-institucion p{
    background-color:transparent;
    font-size: 22px;
    text-align: center;
    margin-top:6%;
}

.footer{
    width: 100%;
    height: 420px;
    background-color:#484848;
    color:white;
    justify-content: space-between;
}
.linea-footer{
    width: 80%;
    height: 1px;
    margin-left: 11%;
    margin-bottom: 7%;
}

.footer p{
    background-color:transparent;
    font-size:18px;
    text-align: center;
}

.footer-info{
    background-color:transparent;
    justify-content:space-evenly;
    margin-top:1px;
}

.footer-item{
    background-color:transparent;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin-top:4%;
}
.footer-item h5{
    background-color:transparent;
    font-weight: bolder;
    letter-spacing: 1px;
}
.contenedor-iconos{
    background-color:transparent;
    justify-content:space-evenly;
}
.footer-item svg{
    background-color:transparent;
    
}
.apps{
    background-color:transparent;
    flex-direction: column;
}

.avalible-1{
    background-color:transparent;
    justify-content:space-evenly;
}
.avalible-1 img{
    margin:1%;
}
.avalible-2{
    margin-top:4px;
    background-color:transparent;
    justify-content:center;
    
}






@media (max-width: 1547px) {
    .info-institucion h3{
        text-align: center;
    }
  }

@media (max-width:1385px){
    .botones-registro button{
        width:76%;
        height: 84px;
    }
}

@media (max-width:1261px){
    .quienes-somos-item ul{
        margin-top: none;
    }
    .quienes-somos{
        padding-top: 5%;
    }
}
@media (max-width:1204px){
    .quienes-somos h3{
        margin-bottom: -2%;
        font-size: 50px;
    }
}
@media (max-width:1055px){
    .titulo-que-ofrecemos h3{
        font-size: 50px;
    }
    .caracteristicas-items p{
        font-size:17px;
        margin-top:26px;
    }
}

@media (max-width:997px){
    .quienes-somos-item p{
        font-size: 22px;
    }
    .quienes-somos-item ul li{
        font-size: 19px;
    }
    .info-institucion h3{
        font-size: 51px;
    }

    .info-institucion p{
        font-size: 21px;
    }
    .botones-registro button{
        width:74%;
        height: 76px;
        font-size: 20px;
    }
}

@media (max-width:961px){
    .caracteristicas-items img {
        width: 84px;
        height: 84px;
        margin-top: 20px;
    }
    .caracteristicas-items p{
        font-size: 16px;
    }
    .info-app img {
        width: 410px;
        height: 441px;
    }
}

@media (max-width:915px){
    .caracteristicas-items p{
        font-size: 99%;
    }
}
@media (max-width:908px){
    .caracteristicas-items p{
        font-size: 0.98rem;
    }
    .quienes-somos{
        height: 437px;
    }
    .info-app img{
        left: 40%;
    }
    .botones-registro h4{
        font-size: 27px;
        text-align: center;
    }
    .barra-navegacion li {
        text-align: center;
        font-size: 1.4rem;
    }
}

@media (max-width:843px){
    .barra-navegacion li {
        text-align: center;
        font-size: 1.2rem;
    }
    .avalible-1 img {
        width: 70%;
    }
    .avalible-2 img{
        width: 89%;
    }
    .footer p {
        font-size: 16px;
    }
    .info-institucion h3 {
        font-size: 2.5em;
    }
    .quienes-somos h3 {
        font-size: 3em;
    }
    .quienes-somos-item p {
        font-size: 1.3em;
    }
    .caracteristicas-items h3 {
        font-size: 1.5em;
    }
    .caracteristicas-items p {
        font-size: 0.9rem;
    }
    .quienes-somos {
        height: 400px;
    }
    .footer {
        height: 300px;
    }
}
@media (max-width: 810px){
    .quienes-somos {
    height: 550px;
    }
}
@media (max-width: 810px){
    .quienes-somos {
    height: 550px;
    }
}

@media (max-width:425px){
    .barra-navegacion{
        display: none !important;
    }
    .recuadro-celeste{
        height: 31pc;
    }
    .info-app{
        position:static;
        display: block;
        text-align: center;
        height: auto;
        width: 100%;
        
    }
    .info-app img{
        position: static;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100px;
        height: 100px;
        width: 180px;
        height: 180px;
        margin-top: 9px;
    }
    
    .texto-inicio{
        position: static;
        z-index: 0;
        top:0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 0% 4%;
    }
    .texto-inicio h2{
        font-size: 19px;
    }
    .texto-inicio p{
        font-size: 17px;
        margin-top: 25px;
    }
    .botones-registro{
        position: static;
        z-index: 0;
        top:0;
        left: 0;
        display: grid !important;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: 100%;
    }
    .botones-registro h4{
        grid-column: 1/3;
        grid-row: 1;
        font-size: 20px;

    }
    .botones-registro button{
        grid-row: 2;
        width: 66%;
        height: 71px;
        font-size: 14px;
        margin-left: 17%;
    }
    .que-ofrecemos{
        height: auto;
        display: block !important;
        text-align: center;
        
    }
    .que-ofrecemos h3{
        font-size: 36px;
    }
    .caracteristicas{
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
        display: block !important;
        text-align: center; 
    }
    .caracteristicas-items{
        width: 100%;
        padding: 0% 16%;
    }
    .linea-caracteristica{
        width: 88%;
        height: 4px;
        margin:auto;
    }
    .quienes-somos{
        height: auto;
        width: 100%;
        display: block !important;
    }
    .quienes-somos h3{
        font-size: 2em;
        margin: 6% 0%;

    }
    .quienes-somos p{
        font-size: 1em;
        text-align: inherit;
    }
    .quienes-somos ul{
        margin-bottom: 8%;
    }
    .quienes-somos ul li{
        font-size: 0.7em;
    }
    .quienes-somos-item{
        width: 100%;
        padding: 0% 10%;
        margin: 0% 0%;
    }
    .linea-quienes{
        margin-left: 10%;
        width: 80%;
        height: 4px;
    }
    .institucion-asociada{
        height: auto;
    }
    .contenido-institucion{
        width: 100%;
        height: 100%;
        display: block !important;
        align-items: center;
        text-align: center;
    }
    .contenido-institucion img{
        width: 171px;
        height: 171px;
    }
    .info-institucion{
        width: 100%;
        margin-bottom: 6%;
    }
    .info-institucion h3{
        font-size: 1.5em;
    }
    .info-institucion p{
        font-size:18px;
        padding: 0% 4%;
    }
    .footer{
        height: auto;
        width: 100%;
    }
    .footer-info{
        display:grid !important;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .footer-item{
        width:auto;
    }
    .contactenos{
        grid-column:1;
        grid-row: 1;
    }
    .footer-item h5 {
        font-size: 1.1rem;
    }
    .footer p {
        font-size: 13px;
        margin-top: 5%;
    }
    .siguenos{
        grid-column:2;
        grid-row: 1;
    }
    .descargalo{
        grid-column:1/3;
        grid-row: 2;
    }
    .avalible-1 img{
        width: 46%;
        padding-left: 4%;
        height: 80%;
    }
    .avalible-2 img{
        width: 42%;
    }
    .contenedor-iconos{
        width: 100%;
        height: auto;
        
        align-items: center;
    }
    .svg-inline--fa.fa-w-14 {
        width: -0.125em !important;
    }
    .fa-3x {
        font-size: 1.8em !important;
    }

}

@media (max-width:375px){
    .botones-registro button{
        height: 56px;
    }
    .imgLogo {
        margin-left: 33px;
        width: 39%;
        height: auto;
    }
    .quienes-somos-item {
        margin: 0% 0%;
    }
}
@media (max-width:320px){
    .recuadro-celeste {
        height: 33pc;
    }
    .que-ofrecemos h3 {
        font-size: 27px;
    }
}