*{
    margin: 0;
    padding: 0;
    background-color:white;
    font-family: 'Be Vietnam', sans-serif;
}

:root{
    --var-red: #E42322;
}

a{
    background-color:transparent;
    color:white;
}

a:link{
    text-decoration:none !important;
}

a:visited{
    text-decoration:none !important;
}

a:active{
    text-decoration: none !important;
}

img{
    background-color:transparent;    
}
.imgLogo{
    margin-left: 60px;    
}


.barra-navegacion{
    background-color: var(--var-red);
    padding: 0 !important;
    margin: 0; 
    color: white;
}
.button-bar{
    background-color:transparent;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color:black;
    border : none;
    display: none;
}

.barra-navegacion li{
    border: none;
    font-size: 150%;
    background-color: var(--var-red);
    color: white;
}

.barra-navegacion li a{
    text-decoration: none;
    color: white;
    font-weight: 580;
}

.container_linea{
    background-color: var(--var-red);
}

.lineaxd{
    background-color:white;
    height: 60%;
    width: 2px;
    margin-top: 12px;
    
}


.cuadro-azul{
    width: 100%;
    color: white;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.elementos-cuadro-azul{
    background-color: #3B8BD6;
    font-style: italic;
    width: 80%;
    height: auto;
    padding: 1%;
    flex-direction: column;
}

.elementos-cuadro-azul p{
    background-color: transparent;
    font-size:15px;
}

.fome{
    text-align: end;
    padding-right: 5%;
}
.cuerpo-registro {
    height: 67pc;
    background: white;
}

.titulo-registro {
    width: 100%;
    justify-content: center;
    align-content: center;
    height: auto;
    margin-top: 2%;
}
.ast{
    color:red;
}
.titulo-registro h3{
    width: 80%;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    margin: 15px 0px;
}
.titulo-registro svg{
    width: 20%;
}

.formulario{
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 10% 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    display: grid;
}
.formulario p{
    margin-bottom: 0rem;
    width: 64%;
}
.formulario input{
    width: 64%;
    height: 25%;
    border-radius: 10px;
    background-color: #E4E4E4;
    border: 2px solid black;
    padding: 1.5%;
}
.formulario input:focus{
    outline: none;
}
.formulario button{
    grid-row: 5;
    grid-column: 2/3;
    width: 78%;
    height: 60%;
    border: none;
    background-color: #34C900;
    color: white;
    border-radius: 20px;
}
.nombre{
    grid-column:1/3;
    grid-row: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    align-items: flex-end;
}


.apellido{
    grid-row: 1;
    grid-column:4/6;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    align-items: flex-start;
    
}

.correo{
    grid-row: 2;
    grid-column:1/3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    align-items: flex-end;
}

.telefono{
    grid-row: 2;
    grid-column:4/6;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    align-items: flex-start;
}

.pass{
    grid-row: 3;
    grid-column:1/3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    align-items: flex-end;
}

.c-pass{
    grid-row: 3;
    grid-column:4/6;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    align-items: flex-start;
}
.materias{
    grid-column:1/3;
    grid-row: 4;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    align-items: flex-end;
}
.describase{
    grid-row: 4/6;
    grid-column:4/6;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    align-items: flex-start;
}
.describase input{
    height: 65%;
}


.footer{
    width: 100%;
    height: 420px;
    background-color:#484848;
    color:white;
    justify-content: space-between;
}
.linea-footer{
    width: 80%;
    height: 1px;
    margin-left: 11%;
    margin-bottom: 7%;
}

.footer p{
    background-color:transparent;
    font-size:18px;
    text-align: center;
}

.footer-info{
    background-color:transparent;
    justify-content:space-evenly;
    margin-top:1px;
}

.footer-item{
    background-color:transparent;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin-top:4%;
}
.footer-item h5{
    background-color:transparent;
    font-weight: bolder;
    letter-spacing: 1px;
}
.contenedor-iconos{
    background-color:transparent;
    justify-content:space-evenly;
}
.footer-item svg{
    background-color:transparent;
    
}
.apps{
    background-color:transparent;
    flex-direction:column;
}

.avalible-1{
    background-color:transparent;
    justify-content:space-evenly;
}
.avalible-1 img{
    margin:1%;
}
.avalible-2{
    margin-top:4px;
    background-color:transparent;
    justify-content:center;
    
}



@media (max-width: 1547px) {

}

@media (max-width:1385px){

}

@media (max-width:1261px){
    .formulario {
        
        grid-template-columns: 1fr 1fr 13% 1fr 1fr;
        
    }
}
@media (max-width:1204px){

}
@media (max-width:1055px){

}

@media (max-width:997px){

}

@media (max-width:961px){

}

@media (max-width:915px){

}
@media (max-width:908px){

}

@media (max-width:843px){
    .barra-navegacion li {
        text-align: center;
        font-size: 1.2rem;
    }
    .avalible-1 img {
        width: 70%;
    }
    .avalible-2 img{
        width: 89%;
    }
    .footer p {
        font-size: 16px;
    }

    .footer {
        height: 300px;
    }
}
@media (max-width: 810px){

}
@media (max-width: 675px){
        .navbar-brand {
            padding-top: .3125rem;
            padding-bottom: .3125rem;
            margin-right: 0rem; 
            font-size: 0rem; 
            text-decoration: none;
            white-space: nowrap;
            
        }
        .button-bar {
            display: block;
        }
        .loguito{
            display: grid !important ; 
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
            grid-template-rows: 1fr; 
        }
        .loguito a {
            grid-column: 3/6;
        }
        .imgLogo {
            margin-left: 5px;
            width: 79%;
            height: auto;
        }
        .container-fluid{
            flex-wrap: nowrap !important;
        }
    
        .container_linea {
            background-color: #E42322;
            display: none !important;
        }
    
        .barra-navegacion {
            /* display: none !important; */
            flex-direction: column;
            display: flex !important;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 3;
            left: 100%;
            transition: left 0.3s;
            justify-content: flex-start !important;
        }
    
        .barra-navegacion-visible{
            
            left: 0% !important;
    
        }
    
        .list-group-horizontal {
            flex-direction: column;
        }
        .fa-3x {
            font-size: 1.8em !important;
        }
        .svg-inline--fa.fa-w-14 {
            width: -0.125em !important;
        }
        .h5, h5 {
            font-size: 1rem;
        }
        .footer p {
            font-size: 14px;
        }
        .formulario button {
            width: 128%;
            margin-left: -19px;
        }
    }
    


@media (max-width:425px){
    .imgLogo {
        margin-left: 5%;
    }
    .titulo-registro {
        width: 100%;
        justify-content: end;
        align-content: center;
        height: auto;
        margin-top: 2%;
        flex-direction: column;
    }
    .svg-inline--fa.fa-w-14 {
        width: 2.875em;
        margin-bottom: 7%;
    }
    .titulo-registro h3 {
        width: 100%;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        font-family: 'Bebas Neue', cursive;
    }
    .elementos-cuadro-azul p {
        background-color: transparent;
        font-size: 13px;
    }
    .formulario {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: space-between;
        align-items: stretch;
    }
    .nombre {
    
        padding-left: 0%; 
        align-items: center; 
    }
    .apellido {
    
        padding-right: 0%; 
        align-items: center;
    }
    .correo {
        
        padding-left: 0%; 
        align-items: center;
    }
    .telefono {
        grid-row: 2;
        grid-column: 4/6;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0%;
        
    }
    .pass {
        
        align-items: center;
        padding-left: 0%;
        
    }
    .c-pass {
        align-items: center;
        padding-right: 0%;
        
    }
    .materias {
        align-items: center;
        padding-right: 0%;
        padding-left: 0%;
        
    }
    .describase {
        align-items: center;
        padding-right: 0%;
        padding-left: 0%;
        
    }
    .describase input {
        height: 200px !important;
    }



    .item-formulario {
        margin-top: 13%;
    }
    .cuerpo-registro {
        height: 99pc;
        align-content: center;
        background: white;
    }
    
    .formulario button {
        width: 70%;
        height: 6%;
        margin-bottom: 7%;
        margin-top: 3%;
        margin-left: 15%;
    }
    .formulario p {
        margin-bottom: 0rem;
        width: 72%;
    }

    .formulario input {
        width: 73%;
        height: 100%;
    }
    .footer{
        height: auto;
        width: 100%;
    }
    .footer-info{
        display:grid !important;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
    }
    .footer-item{
        width:auto;
    }
    .contactenos{
        grid-column:1;
        grid-row: 1;
    }
    .footer-item h5 {
        font-size: 1.1rem;
    }
    .footer p {
        font-size: 13px;
        margin-top: 5%;
    }
    .siguenos{
        grid-column:2;
        grid-row: 1;
    }
    .descargalo{
        grid-column:1/3;
        grid-row: 2;
    }
    .avalible-1 img{
        width: 46%;
        padding-left: 4%;
        height: 80%;
    }
    .avalible-2 img{
        width: 42%;
    }
    .contenedor-iconos{
        width: 100%;
        height: auto;
        
        align-items: center;
    }
    .svg-inline--fa.fa-w-14 {
        width: -0.125em !important;
    }
    .fa-3x {
        font-size: 1.8em !important;
    }
    






    

}


